.root {
-fx-background-image: url("matt.jpg");
-fx-background-size: cover;
-fx-border-style: solid;
-fx-border-width: 4px;
-fx-border-color: #25497A ;
-fx-font-size: 10pt;
-fx-font-family: sans-serif;
}

.blue-label {
    -fx-text-fill: #043A3A;
}

.button {
    -fx-background-color: linear-gradient(#0B9AFF, #305F9C);
    -fx-text-fill: #000000;
    -fx-background-radius: 6px;
}

#bold-label {
    -fx-font-weight: bold;
}

.text-input {
    -fx-background-color: #46B0FF;
}
#correct-input {
    -fx-background-color: #46B0FF;
}

#error-input {
    -fx-background-color: #DA3B1C;
}